/* ========= [ * page-home_1 ]  =========*/
/* --------------- navbar st2 --------------- */
.tc-navbar-st2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 99;
  padding: 20px 3vw;
}
.tc-navbar-st2 .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 500;
  margin: 5px 15px;
  color: #fff;
  text-transform: capitalize;
}
.tc-navbar-st2 .navbar-nav .nav-link:hover, .tc-navbar-st2 .navbar-nav .nav-link.active {
  color: var(--cr-orange1);
}
.tc-navbar-st2 .navbar-nav .flag {
  height: 20px;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.tc-navbar-st2 .navbar-nav .lang-dropdown .nav-link {
  position: relative;
  -webkit-padding-start: 50px;
          padding-inline-start: 50px;
}
.tc-navbar-st2 .navbar-nav .lang-dropdown .nav-link::before {
  position: absolute;
  content: "";
  left: 0;
  top: calc(50% - 10px);
  height: 20px;
  width: 1px;
  background-color: #9995;
}
.tc-navbar-st2 .navbar-nav .lang-dropdown .dropdown-menu {
  left: 50px;
}
.tc-navbar-st2 .navbar-nav .search-item {
  -webkit-margin-start: 6vw;
          margin-inline-start: 6vw;
}
.tc-navbar-st2 .navbar-nav .menu-item .nav-link {
  position: relative;
  -webkit-padding-end: 50px;
          padding-inline-end: 50px;
}
.tc-navbar-st2 .navbar-nav .menu-item .nav-link:hover::before, .tc-navbar-st2 .navbar-nav .menu-item .nav-link:hover::after {
  background-color: var(--cr-orange1);
}
.tc-navbar-st2 .navbar-nav .menu-item .nav-link::before {
  position: absolute;
  content: "";
  right: 0;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tc-navbar-st2 .navbar-nav .menu-item .nav-link::after {
  position: absolute;
  content: "";
  right: 0;
  top: calc(50% - 4px);
  width: 40px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 991px) {
  .tc-navbar-st2 .logo-wrapper {
    width: 100%;
  }
  .tc-navbar-st2 .logo-wrapper .navbar-brand {
    width: calc(100% - 80px);
  }
}
/* --------------- header st2 --------------- */
.tc-header-st2 {
  position: relative;
  min-height: 100vh;
  background-color: #151515;
  background-image: url(../img/header_bg.png);
  background-size: cover;
  color: #fff;
  padding: 200px 0 120px;
}
.tc-header-st2 .shapes {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tc-header-st2 h1 {
  position: relative;
  font-size: 128px;
  font-weight: bolder;
}
.tc-header-st2 h1 .shap {
  position: absolute;
  left: 0;
  top: -5%;
  height: 110%;
  max-height: unset;
}
.tc-header-st2 h1 .title-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tc-header-st2 h1 .img {
  width: 195px;
  height: 90px;
  border-radius: 100px;
  overflow: hidden;
  -webkit-margin-start: 50px;
          margin-inline-start: 50px;
}
.tc-header-st2 h1 .users {
  position: relative;
  width: 200px;
  height: 85px;
  -webkit-padding-end: 50px;
          padding-inline-end: 50px;
  -webkit-margin-end: 30px;
          margin-inline-end: 30px;
}
.tc-header-st2 h1 .users .txt-circle {
  width: 85px;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #151515;
  color: #fff;
  text-align: center;
  border: 1px solid #fff2;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  font-weight: 300;
}
.tc-header-st2 .imgs {
  width: calc(100% + 80px);
}
.tc-header-st2 .imgs .img {
  height: 500px;
  border-radius: 200px 200px 0 0;
  overflow: hidden;
}
.tc-header-st2 .imgs .numbers {
  position: relative;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-border-start: 1px solid #fff2;
          border-inline-start: 1px solid #fff2;
  border-bottom: 1px solid #fff2;
}
.tc-header-st2 .imgs .numbers h5 {
  font-size: 32px;
}
.tc-header-st2 .imgs .numbers p {
  color: #777;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .tc-header-st2 h1 {
    font-size: 50px;
  }
  .tc-header-st2 h1 .img {
    height: 60px;
  }
  .tc-header-st2 .imgs {
    width: 100%;
    margin-top: 40px;
  }
  .tc-header-st2 .imgs .img {
    height: 250px;
  }
  .tc-header-st2 .imgs .numbers {
    display: block;
  }
  .tc-header-st2 .imgs .numbers .num_card {
    margin: 15px 0;
  }
}
/* --------------- about st2 --------------- */
.tc-about-st2 {
  position: relative;
  padding: 150px 0;
}
.tc-about-st2 .title {
  position: relative;
}
.tc-about-st2 .title .float-txt {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 0.75;
  font-size: 200px;
  color: #f6f6f6;
  font-weight: bold;
  text-transform: uppercase;
  pointer-events: none;
}
.tc-about-st2 .title .btns {
  position: relative;
  z-index: 20;
  padding: 50px 0;
}
.tc-about-st2 .img-box {
  position: relative;
}
.tc-about-st2 .img-box::after {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 270px;
  width: 270px;
  background-color: var(--cr-orange1);
  -webkit-filter: blur(100px);
          filter: blur(100px);
  opacity: 0.5;
}
.tc-about-st2 .img {
  position: relative;
  height: 600px;
  -webkit-mask-image: url(../img/about_mask.png);
          mask-image: url(../img/about_mask.png);
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  z-index: 10;
}
.tc-about-st2 .rotate-box {
  position: relative;
  width: 220px;
  height: 220px;
  display: block;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  margin-top: -35px;
  z-index: 20;
}
.tc-about-st2 .rotate-box .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 35px;
  width: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}
.tc-about-st2 .rotate-box .rotate-text {
  -webkit-animation: rotateText 20s linear infinite;
          animation: rotateText 20s linear infinite;
  font-weight: 300;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  border-radius: 50%;
  color: #151515;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
}
.tc-about-st2 .rotate-box .rotate-circle svg {
  width: 220px;
  height: 220px;
  fill: #151515;
  -webkit-transform: scale(1);
          transform: scale(1);
}
@-webkit-keyframes rotateText {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotateText {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.tc-about-st2 .cards .item {
  position: relative;
  margin-top: 40px;
}
.tc-about-st2 .cards .item .icon {
  height: 50px;
  margin-bottom: 25px;
}
.tc-about-st2 .cards .item h6 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
}
.tc-about-st2 .cards .item .progress {
  height: 4px;
  margin-top: 20px;
}
.tc-about-st2 .cards .item .progress .progress-bar {
  background-color: #151515;
}

@media screen and (max-width: 991px) {
  .tc-about-st2 .img {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-bottom: 50px;
  }
  .tc-about-st2 .title .float-txt {
    font-size: 100px;
    top: 30px;
  }
  .tc-about-st2 .rotate-box {
    -webkit-margin-start: 0;
            margin-inline-start: 0;
  }
  .tc-about-st2 .img-box::after {
    top: 30%;
    width: 150px;
    height: 150px;
  }
}
/* --------------- services st2 --------------- */
.tc-services-st2 {
  position: relative;
  padding: 150px 0;
  background-color: #f6f6f6;
}
.tc-services-st2 .vec1 {
  position: absolute;
  top: 20%;
  left: 0;
  z-index: 1;
  pointer-events: none;
}
.tc-services-st2 .title {
  position: relative;
  padding-bottom: 50px;
  border-bottom: 1px solid #9994;
}
.tc-services-st2 .title .text {
  position: relative;
  padding-top: 20px;
}
.tc-services-st2 .title .text .vec {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
}
.tc-services-st2 .service-card {
  position: relative;
  padding: 50px 0;
  border-bottom: 1px solid #9994;
}
.tc-services-st2 .service-card:hover {
  border-color: #151515;
}
.tc-services-st2 .service-card:hover .img::after {
  opacity: 0.3;
}
.tc-services-st2 .service-card:hover .img .cir-butn {
  opacity: 1;
}
.tc-services-st2 .service-card .num {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #9994;
  border-radius: 50%;
  margin-bottom: 20px;
  text-align: center;
}
.tc-services-st2 .service-card .img {
  position: relative;
  height: 200px;
  margin-top: 50px;
}
.tc-services-st2 .service-card .img::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #151515;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tc-services-st2 .service-card .img .cir-butn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 20;
}

/* --------------- process st2 --------------- */
.tc-process-st2 {
  position: relative;
  padding: 150px 0;
  overflow: hidden;
}
.tc-process-st2 .title-side {
  position: relative;
}
.tc-process-st2 .title-side h2 {
  font-size: 50px;
}
.tc-process-st2 .title-side h2 span {
  color: transparent;
  -webkit-text-stroke: 1px #151515;
}
.tc-process-st2 .title-side .cont {
  position: relative;
  margin-top: 50px;
}
.tc-process-st2 .title-side .cont .lg-txt {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 140px;
  -webkit-text-stroke: 1px #151515;
  opacity: 0.1;
  color: transparent;
  text-transform: uppercase;
  line-height: 1;
}
.tc-process-st2 .progress-side .shap-img {
  width: 40%;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}
.tc-process-st2 .progress-side .progress {
  height: 4px;
}
.tc-process-st2 .progress-side .progress .progress-bar {
  background-color: #151515;
}

@media screen and (max-width: 991px) {
  .tc-process-st2 .title-side h2 {
    font-size: 30px;
  }
}
/* --------------- video st2 --------------- */
.tc-video-st2 {
  position: relative;
  overflow: hidden;
}
.tc-video-st2 .content {
  position: relative;
}
.tc-video-st2 .content::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-transform: translate(-30%, -30%) rotate(45deg);
          transform: translate(-30%, -30%) rotate(45deg);
  border-top: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 35px solid var(--cr-orange1);
}
.tc-video-st2 .content::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  border: 1px solid #151515;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}
.tc-video-st2 .video-card {
  position: relative;
  height: 600px;
  overflow: hidden;
  z-index: 20;
}
.tc-video-st2 .video-card .video {
  -o-object-fit: cover;
     object-fit: cover;
}
.tc-video-st2 .video-card .play-btn {
  position: absolute;
  left: calc(50% - 75px);
  top: calc(50% - 75px);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-size: 16px;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* --------------- numbers st2 --------------- */
.tc-numbers-st2 {
  position: relative;
  padding: 120px 0;
}
.tc-numbers-st2 .numbers {
  position: relative;
}
.tc-numbers-st2 .numbers .number-card {
  position: relative;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 60px;
  margin: 30px auto;
}
.tc-numbers-st2 .numbers .number-card p {
  font-size: 16px;
  color: #666;
}
.tc-numbers-st2 .numbers .number-card p span {
  color: #000;
  font-weight: 500;
}
.tc-numbers-st2 .numbers .number-card h3 {
  font-size: 62px;
  margin-top: 15px;
  font-weight: 500;
}

/* --------------- portfolio st2 --------------- */
.tc-portfolio-st2 {
  position: relative;
  padding: 150px 0;
  background-color: #151515;
  color: #fff;
  overflow: hidden;
}
.tc-portfolio-st2 .vec1 {
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 1;
  pointer-events: none;
}
.tc-portfolio-st2 .vec2 {
  position: absolute;
  bottom: 30%;
  right: 0;
  z-index: 1;
  pointer-events: none;
}
.tc-portfolio-st2 .title-slider {
  margin-bottom: 50px;
}
.tc-portfolio-st2 .title-slider h2 {
  font-size: calc(10vw + 40px);
  color: #fff;
  opacity: 0.05;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 0.9;
}
.tc-portfolio-st2 .title-slider .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
  pointer-events: none;
}
.tc-portfolio-st2 .title-slider .swiper-wrapper .swiper-slide {
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
}
.tc-portfolio-st2 .portfolio-slider {
  position: relative;
  overflow: hidden;
  height: 630px;
}
.tc-portfolio-st2 .portfolio-slider .swiper-slide .card-item .info {
  opacity: 0;
  -webkit-transform: scale(0.8) rotate(20deg);
          transform: scale(0.8) rotate(20deg);
}
.tc-portfolio-st2 .portfolio-slider .swiper-slide .card-item .img {
  opacity: 0;
  -webkit-transform: scale(0.8) rotate(-20deg);
          transform: scale(0.8) rotate(-20deg);
}
.tc-portfolio-st2 .portfolio-slider .swiper-slide-active .card-item .info {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
}
.tc-portfolio-st2 .portfolio-slider .swiper-slide-active .card-item .img {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
}
.tc-portfolio-st2 .portfolio-slider .img {
  position: relative;
  height: 630px;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.tc-portfolio-st2 .portfolio-slider .info {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.tc-portfolio-st2 .portfolio-slider .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: auto;
  bottom: 30px;
  left: 60%;
}
.tc-portfolio-st2 .portfolio-slider .swiper-fraction {
  position: absolute;
  right: 0;
  bottom: 50px;
  font-size: 120px;
  font-weight: 100;
}

/* --------------- team st2 --------------- */
.tc-team-st2 {
  position: relative;
  padding: 150px 0;
}
.tc-team-st2 .team-card {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.05);
  margin-top: 80px;
}
.tc-team-st2 .team-card .img {
  position: relative;
  height: 300px;
  -webkit-padding-start: 30px;
          padding-inline-start: 30px;
  margin-top: -30px;
}
.tc-team-st2 .team-card .img .social-icons {
  position: absolute;
  width: 50px;
  right: 30px;
  bottom: -25px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tc-team-st2 .team-card .img .social-icons .link {
  position: relative;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1px;
  background-color: var(--cr-orange1);
  color: #fff;
}
.tc-team-st2 .team-card .img .social-icons .link:hover {
  background-color: #000;
}
.tc-team-st2 .team-card .img .social-icons .link:not(.plus-link) {
  margin-bottom: -50px;
  opacity: 0;
}
.tc-team-st2 .team-card .img .social-icons .link.plus-link {
  z-index: 10;
}
.tc-team-st2 .team-card .info {
  padding: 40px 30px;
}
.tc-team-st2 .team-card:hover .img .social-icons {
  margin-bottom: -50px;
}
.tc-team-st2 .team-card:hover .img .social-icons .link {
  margin-bottom: 0 !important;
  opacity: 1 !important;
}
.tc-team-st2 .team-card:hover .img .social-icons .link.plus-link {
  opacity: 0 !important;
}
.tc-team-st2 .cir-butn {
  width: 300px;
  height: 300px;
}
.tc-team-st2 .cir-butn .txt {
  font-size: 30px;
}
.tc-team-st2 .cir-butn .arrow {
  width: 40px;
  height: 40px;
}

/* --------------- pricing st2 --------------- */
.tc-pricing-st2 {
  position: relative;
  padding: 150px 0;
  background-color: var(--cr-orange1);
  color: #fff;
}
.tc-pricing-st2 .title {
  position: relative;
  padding-bottom: 50px;
  border-bottom: 1px solid #fff3;
}
.tc-pricing-st2 .title p {
  position: relative;
  font-size: 16px;
}
.tc-pricing-st2 .title p::after {
  position: absolute;
  content: "";
  right: 0;
  top: -25px;
  width: 25px;
  height: 25px;
  background-image: url(../img/vec8.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.tc-pricing-st2 .price-card {
  position: relative;
  display: block;
  padding: 40px 0;
  border-bottom: 1px solid #fff3;
}
.tc-pricing-st2 .price-card:hover {
  border-color: #fff;
}
.tc-pricing-st2 .price-card:hover .card-title h6 {
  text-decoration: underline;
}
.tc-pricing-st2 .price-card .check-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  margin-bottom: 15px;
}
.tc-pricing-st2 .price-card .check-list li:last-of-type {
  margin: 0;
}
.tc-pricing-st2 .price-card .price {
  font-size: 32px;
}
.tc-pricing-st2 .price-card .price small {
  font-size: 14px;
  text-decoration: line-through;
}
.tc-pricing-st2 .price-card .more {
  font-size: 16px;
}
.tc-pricing-st2 .price-card .more .arrow {
  width: 28px;
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
}

/* --------------- blog st2 --------------- */
.tc-blog-st2 {
  position: relative;
  padding: 150px 0;
}
.tc-blog-st2 .title-wrapper {
  position: relative;
}
.tc-blog-st2 .title-wrapper .line {
  height: 100%;
  width: 1px;
  background-color: #D9D9D9;
  margin: auto;
}
.tc-blog-st2 .posts-slider {
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;
}
.tc-blog-st2 .post-card .info .tags {
  position: relative;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}
.tc-blog-st2 .post-card .info .more-link {
  font-size: 16px;
  font-weight: 500;
}
.tc-blog-st2 .post-card .info .more-link .arrow {
  width: 28px;
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
}

/* --------------- footer st2 --------------- */
.tc-footer-st2 {
  position: relative;
}
.tc-footer-st2 .subscribe-content {
  position: relative;
  padding: 150px 0;
  background-color: #f6f6f6;
}
.tc-footer-st2 .subscribe-content h3 {
  font-size: 32px;
  margin-bottom: 20px;
}
.tc-footer-st2 .subscribe-content .form-group {
  position: relative;
}
.tc-footer-st2 .subscribe-content .form-group button {
  position: absolute;
  right: 0;
  bottom: 15px;
  font-size: 16px;
  border: 0;
  background-color: transparent;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.tc-footer-st2 .subscribe-content .form-control {
  padding: 15px 0;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #151515;
  font-size: 16px;
  background-color: transparent;
}
.tc-footer-st2 .subscribe-content .shapes {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right bottom;
     object-position: right bottom;
}
.tc-footer-st2 .container {
  position: relative;
  z-index: 20;
}
.tc-footer-st2 .main-footer {
  background-color: #151515;
  color: #fff;
  position: relative;
  padding: 140px 0;
}
.tc-footer-st2 .main-footer .lg-txt {
  font-size: 195px;
  color: #fff;
  opacity: 0.05;
  position: absolute;
  right: 5%;
  bottom: 0;
  line-height: 1;
  -webkit-transform: translateY(35%);
          transform: translateY(35%);
  font-family: "mona-Light";
}
.tc-footer-st2 .main-footer .foot-shapes {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.tc-footer-st2 .main-footer .fav-line {
  position: absolute;
  top: 0;
  left: calc((100% - 1320px) / 2);
  width: 30vw;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.tc-footer-st2 .links-wrapper {
  position: relative;
  margin-top: 100px;
}
.tc-footer-st2 .links-wrapper .contact-links a {
  font-size: 32px;
  font-weight: 500;
  margin: 5px 0;
}
.tc-footer-st2 .links-wrapper .contact-links a:hover {
  color: var(--cr-orange1);
}
.tc-footer-st2 .links-group .links a {
  font-size: 16px;
  opacity: 0.6;
  margin-bottom: 10px;
}
.tc-footer-st2 .links-group .links a:hover {
  opacity: 1;
}
.tc-footer-st2 .foot {
  position: relative;
  padding: 30px 0;
  background-color: #0f0f0f;
  color: #fff;
}
.tc-footer-st2 .foot .foot-links a {
  font-size: 16px;
  -webkit-margin-start: 30px;
          margin-inline-start: 30px;
}

@media screen and (max-width: 991px) {
  .tc-footer-st2 .main-footer .lg-txt {
    font-size: 70px;
  }
}
.home-st2 {
  font-family: "Hanken Grotesk", sans-serif;
}

@media screen and (max-width: 991px) {
  .home-st2 br {
    display: none;
  }
  .home-st2 .fsz-50 {
    font-size: 30px !important;
  }
  .home-st2 .fsz-45 {
    font-size: 25px !important;
  }
  .home-st2 .fsz-40 {
    font-size: 25px !important;
  }
  .home-st2 .mb-90 {
    margin-bottom: 40px !important;
  }
  .home-st2 .fsz-30 {
    font-size: 18px !important;
  }
  .home-st2 .mb-50 {
    margin-bottom: 30px !important;
  }
  .home-st2 .mt-5 {
    margin-top: 2rem !important;
  }
}